@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply font-montserrat-alternates;
}

@layer base {
  :root {
    --color-primary: #C4CAF0;
    --color-secondary: #B76EF9;
    --color-tertiary: #564A8D;
    --color-quartary: #8054ba;
    --color-transparent-footer-bg: rgba(86, 74, 141, 0.5);
    --color-tetra: #4F81E5;
    --color-penta: #241945;
    --color-hexa: #DF731D;
  }
}

.theme-blue {
  --color-primary: #C4CAF0;
  --color-secondary: #B76EF9;
  --color-tertiary: #564A8D;
  --color-quartary: #8054ba;
  --color-transparent-footer-bg: rgba(86, 74, 141, 0.5);
  --color-tetra: #4F81E5;
  --color-penta: #241945;
  --color-hexa: #DF731D;
} 

.theme-brown {
  --color-primary: #ae9f8c;
  --color-secondary: #9D6C32;
  --color-tertiary: #9D6C32;
  --color-quartary: #b57a1f;
  --color-transparent-footer-bg: rgba(157, 108, 50, 0.5);
}

.theme-green {
  --color-primary: #bdc093;
  --color-secondary: #FFAC01;
  --color-tertiary: #7B952A;
  --color-quartary: #a5b76e;
  --color-transparent-footer-bg: rgba(123, 149, 42, 0.5);
}
.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 31px !important;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Hexagon button style */
.custom-button {
  @apply bg-secondary text-white py-2 rounded-full border-none cursor-pointer outline-none transition-colors duration-300;
  clip-path: polygon(20% 0%, 80% 0%, 100% 50%, 80% 100%, 20% 100%, 0% 50%);
}

.custom-button:hover {
  @apply bg-secondary
}

/* cutom blue bg gradient for*/

.bg-blue-gradient {
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), rgba(79, 129, 229, 1);
}

